div.progressbar{
    text-align: center;
    justify-content: center;
    margin: 12px 15px 12px 5px;
    padding: 40px;
    font-size: 80px;
}
.section{
    clear: both;
    padding: 0;
    margin: 0;
}
.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    text-align: center;
    padding: 1em 0;
    color: white;
}

.col:first-child {margin-left: 0;}

.group:before,
.group:after{
    content: "";
    display: table;
}

.group:after{
    clear: both;
}

.group{
    zoom: 1;
}

.span_1of3{
    width: 32.26%;
}

/* .span_2of3{
    width: 66.13%;
}
.span_3of3{
    width: 32.26%;
}ctrl+k+c */

.codesnippet{
    width: 200px;
    height: 150px;
    border-radius: 3px;
}
.modal-content-edited{
    color: black;
}